.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px mediumvioletred;
}
.note
{
    font-size: 15px;
    color: orchid;
}
.copy_right_footer
{
    position: fixed;
    color:palevioletred;
    bottom: 0;
    width: 100%;
    background-color: plum;
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 5px solid magenta;
    border-radius: 20px;
    box-shadow:5px 5px 5px mediumslateblue;
}